<!-- Copyright 2024 Jean-Baptiste Louvet-Daniel
   - 
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<form class="editable character {TPL_ID} custom-system-actor" autocomplete="off">
    <div class="custom-system-actor-content">
        <header class="sheet-header">
            <div class="profile-img-container" style="width: 64px; height: 64px; flex: 0 0 64px">
                <img class="profile-img" src="icons/svg/mystery-man.svg" data-edit="img" title="AutoTest_Character" />
            </div>
            <div class="header-fields">
                <h1 class="charname">
                    <input name="name" type="text" value="AutoTest_Character" placeholder="Name" />
                </h1>

                <div class="custom-system-sheet-actions">
                    <div class="custom-system-template-select">
                        <label for="{ACTOR_ID}-template"> Template : </label>

                        <select id="{ACTOR_ID}-template" name="system.template">
                            <option value="{TPL_ID}" selected="">AutoTest_Template</option>
                        </select>
                        <a class="custom-system-reload-template"><i class="fas fa-sync"></i></a>
                    </div>
                </div>

                <div class="custom-system-customHeader">
                    <div
                        class="custom-system-component-contents custom_header custom-system-component-root custom-system-panel"
                    ></div>
                </div>
            </div>
        </header>

        <div class="custom-system-customBody">
            <div class="custom-system-component-contents custom_body custom-system-component-root custom-system-panel">
                <div
                    class="custom-system-component-contents label_key_edited custom-system-component-root custom-system-field custom-system-field-root custom-system-field-full-size"
                    title="Label tooltip edited"
                >
                    <span class="custom-system-label-root"
                        ><div class="custom-system-label-icons"></div>
                        <div
                            class="custom-system-label custom-system-label-label"
                            data-name="label_key_edited"
                            data-value="Label text edited"
                        >
                            Label text edited
                        </div></span
                    >
                </div>
            </div>
        </div>
    </div>
</form>
